@font-face {
  font-family: "iconfont"; /* Project id 3485766 */
  /* src: url('iconfont.woff2?t=1656290976375') format('woff2'),
       url('iconfont.woff?t=1656290976375') format('woff'),
       url('iconfont.ttf?t=1656290976375') format('truetype'); */
  src: url(@/static/iconfont.ttf);
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-icon:before {
  content: "\e6a0";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-shangjiantou:before {
  content: "\e60a";
}

.icon-arrow-down:before {
  content: "\e610";
}

